*{
    overflow: hidden;
}

.container-fluid{
    background: #1e282d;
    background: -moz-linear-gradient(left,  #1e282d 52%, #1e282d 100%);
    background: -webkit-linear-gradient(left,  #1e282d 52%,#1e282d 100%);
    background: linear-gradient(to right,  #1e282d 52%,#1e282d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d4199', endColorstr='#b01eea',GradientType=1 );    
    height: 100vh;
    color: #ffffff;
}
th, td {
	text-align: center;
    padding: 2px;
    color: red;
}